<ion-header-bar class="bar-positive">
        <h1 class="title">Simple Crud By Rudy</h1>
</ion-header-bar>

<ion-view view-title="Simple Crud By Rudy">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Hay!!!</div>
      <div class="item item-body">
        <div>
          Apa Kabar <b>Sobat</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Simple Crud</div>
      <div class="item item-body">
        <div>
          Ionic Framework
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Let's Go</div>
      <div class="item item-body">
        <div>
          Perhatikan<b> OK</b> Selamat Menyaksikan
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
